<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Olá, Somos a Mobilizção Sulista!</h1>
				<p>Um grupo suprapartidário de ativistas sulistas em prol da <em>Independência</em> dos três estados da região <em>Sul</em> do Brasil para formar um novo Pais! <a href="/about">Leia mais sobre nossas ações...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:mobilizasul@gmail.com">email</a></li>
        		<li><a href="https://github.com/mobilizasul">github.com/mobilizasul</a></li>
			</ul>
		</footer>
	</body>
</html>
