<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Inicial</a></li>
	        	<li><a href="/onde">Onde estamos</a></li>
        		<li><a href="/volunters">Voluntários</a></li>
        		<li><a href="/blog">Blog Sulista</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:mobilizasul@gmail.com">email</a></li>
        		<li><a href="https://github.com/mobilizasul">github.com/mobilizasul</a></li>
			</ul>
		</footer>
	</body>
</html>
